@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body{
    background-color: #f2f2f2;
    color: #323232;
    font-family: 'Noto Sans JP', sans-serif;
    margin-left: 10vh;
}

.Home-header{
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
}

.header-Image{
    width: 20vh;
    height: 20vh;
    margin-right: 5vh;
}

.main-message{
    font-size: calc(10px + 2vmin);
}